@charset "UTF-8";
@-webkit-keyframes rollOut1 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    
  }
}

@keyframes rollOut1 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
}

.rollOut1 {
  -webkit-animation-name: rollOut1;
  animation-name: rollOut1;
}

@-webkit-keyframes rollOut2 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, -100%, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, -100%, 0) rotate3d(0, 0, 1, -120deg);
  }
}

@keyframes rollOut2 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, -100%, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, -100%, 0) rotate3d(0, 0, 1, -120deg);
  }
}

.rollOut2 {
  -webkit-animation-name: rollOut2;
  animation-name: rollOut2;
}

@-webkit-keyframes rollOut3 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

@keyframes rollOut3 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
	-webkit-transform-origin:20% 40%;
	transform-origin:-120% 150%;
  }
}

.rollOut3 {
  -webkit-animation-name: rollOut3;
  animation-name: rollOut3;
}

@-webkit-keyframes rollIn1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(200%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(200%, 0, 0) rotate3d(0, 0, 1, 120deg);
    -webkit-transform-origin:300% 100%;
    transform-origin:300% 100%;
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes rollIn1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(200%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(200%, 0, 0) rotate3d(0, 0, 1, 120deg);
    -webkit-transform-origin:300% 100%;
    transform-origin:300% 100%;
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.rollIn1 {
  -webkit-animation-name: rollIn1;
  animation-name: rollIn1;
}

@-webkit-keyframes wobble1 {
  from {
    -webkit-transform: none;
    transform: none;
  }

  50% {
    -webkit-transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes wobble1 {
  from {
    -webkit-transform: none;
    transform: none;
  }

  50% {
    -webkit-transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.wobble1 {
  -webkit-animation-name: wobble1;
  animation-name: wobble1;
}

@-webkit-keyframes wobble2 {
  from {
    -webkit-transform: none;
    transform: none;
  }

  50% {
    -webkit-transform: translate3d(4%, 0, 0) rotate3d(0, 0, 1, 6deg);
    transform: translate3d(4%, 0, 0) rotate3d(0, 0, 1, 6deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes wobble2 {
  from {
    -webkit-transform: none;
    transform: none;
  }

  50% {
    -webkit-transform: translate3d(4%, 0, 0) rotate3d(0, 0, 1, 6deg);
    transform: translate3d(4%, 0, 0) rotate3d(0, 0, 1, 6deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.wobble2 {
  -webkit-animation-name: wobble2;
  animation-name: wobble2;
}

@-webkit-keyframes flash1 {
    0%,100%,50% {
        opacity: 1
    }

    25%,75% {
        opacity: 0
    }
}

@keyframes flash1 {
    0%,100%,50% {
        opacity: 1
    }

    25%,75% {
        opacity: 0
    }
}

.flash1 {
    -webkit-animation-name: flash1;
    animation-name: flash1;
}

@-webkit-keyframes fadeZoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale3d(.3);
    -webkit-transform-origin:0% bottom;
    transform-origin:0% 100%;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeZoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
    -webkit-transform-origin:0% bottom;
    transform-origin:-0% 100%;
  }

  to {
    opacity: 1;
  }
}

.fadeZoomIn {
  -webkit-animation-name: fadeZoomIn;
  animation-name: fadeZoomIn;
}

/*调整动画出现顺序*/
.p1_k0{animation-delay:0.5s; -webkit-animation-delay:0.5s; -webkit-animation-duration:2s; animation-duration:2s;}
.p1_c{animation-delay:0s; -webkit-animation-delay:0s; -webkit-animation-duration:1s; animation-duration:1s;}
.p1_s{animation-delay:0.7s; -webkit-animation-delay:0.7s;}
.p1_t{animation-delay:1s; -webkit-animation-delay:1s;}
.p1_tz1{animation-delay:2s; -webkit-animation-delay:2s; -webkit-animation-duration:0.5s; animation-duration:0.5s;}
.p1_sz1{animation-delay:2.3s; -webkit-animation-delay:2.3s; -webkit-animation-duration:0.5s; animation-duration:0.5s;}
.p1_tz2{animation-delay:1s; -webkit-animation-delay:1s; -webkit-animation-duration:0.5s; animation-duration:0.5s;}
.p1_sz2{animation-delay:1.3s; -webkit-animation-delay:1.3s; -webkit-animation-duration:0.5s; animation-duration:0.5s;}
.p1_tz3{animation-delay:1s; -webkit-animation-delay:1s; -webkit-animation-duration:0.5s; animation-duration:0.5s;}
.p1_sz3{animation-delay:1.3s; -webkit-animation-delay:1.3s; -webkit-animation-duration:0.5s; animation-duration:0.5s;}
.p1_arr{animation-delay:1s; -webkit-animation-delay:1s; -webkit-animation-duration:0.5s; animation-duration:0.5s;}
.p1_btn{animation-delay:1.3s; -webkit-animation-delay:1.3s; -webkit-animation-duration:0.5s; animation-duration:0.5s;}

.arrow {
-webkit-animation: arrow 1.5s infinite ease-in-out;
animation: arrow 1.5s infinite ease-in-out;
}

@keyframes arrow{
	0%,30% {opacity: 0.5;transform: translate(0,-20px);}
    60%{opacity: 1;transform: translate(0,-10px);}
    100%{opacity: 0;transform: translate(0,0);}
}
@-webkit-keyframes arrow {
    0%,30% {opacity: 0.5;transform: translate(0,-20px);}
    60%{opacity: 1;transform: translate(0,-10px);}
    100%{opacity: 0;transform: translate(0,0);}
}
